* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #faf1f8af;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


h1 {
    font-size: 100px;
}


.contenedor1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


header {
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(181, 219, 110, 0.596) 0%, rgba(107, 179, 221, 0.575) 100%), url(../IMAGENES/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}


.menu{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}


.navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(181, 219, 110, 0.966) 0%, rgba(107, 179, 221, 0.966) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}


.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}


.copy{
    font-weight: 300;
    font-size: 25px;
}

.spread{
    transform: translate(0);
}


.navegacion a{
    color: aliceblue;
    text-decoration: none;
}


.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #49a094;
    margin-bottom: 40px;
    font-size: 40px;
}


.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 32%;
    height: 32%;
}


.logo{
    width: 32%;
    height: 32%;
}


.descripcion{
    margin-bottom: 50px;
}



.n-descripcion{
    margin-bottom: 7px;
    color: #49a094;
}


#descripcion .box {
    height: 230px;
    width: 500px;
    padding: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    margin: 0px 90px 30px 10px;
    background: rgba(196, 195, 195, 0.253);
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
  }


  .box{
    width: 50px;
    height: 120px;
    float: left;
    align-content: left;
}


.box img{
    width: 50px;
    height: 120px;
    float: left;
    align-content: left;
}
  
  #descripcion .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  

  #descripcion .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  #descripcion .title a {
    color: #49a094;
  }
  
  
  #descripcion .description {
    align-content: center;
    font-size: 18px;
    margin-left: 100px;
    line-height: 40px;
    margin-bottom: 0;
  }

.enseñanzas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.n-enseñanzas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
    font-weight: 2500;
    color: #49a094;
}


.final{
    font-weight: 500;
    font-size: 40px;
}


.final+p{
    font-weight: 500;
}
    

.creditos{
    width: 40%;
    color: rgb(0, 0, 0);
}


.creditos{
    background: rgba(102, 99, 99, 0.247);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}


.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


footer {
    background: #d4d4d4;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


.partFooter img {
    width: 70%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #a2a9b4;
    border: 1px solid #a2a9b4;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #646464;
    border-color:#646464;
}






